# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
a.out

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# LTSpice
*.log
*.raw
*.fft
*.net

# Visual Studio
*.opendb
*.vscode

#Eigen
main_project/Eigen